.navbar{
  width:100%;

  nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
      color: gold;
    }
  }
}
@media screen and (max-width: 950px){
.navbar{
  display: none;
}
}
