*{
    /*outline:1px dashed grey;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App {
 width: 100%;
    font-family: 'Roboto Mono', monospace;

}
.black{
    color: black;
}
.line{
    width: 5px;
    height: 10vh;
    background:  black;
}

a{
    text-decoration: none;
    color: yellow;
}
.container{
    width:90%;
    max-width: 1280px;
    margin: auto;
    /*padding: 0 20px;*/
}
.hp-sb{
    display: flex;
}
.rc{
    width:100%;
    display: flex;



}.rc-mobile{
     display: none;
 }

.rcl {
    color: black;
    width: 70%;
    font-size: 30px;
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
    font-family: 'Mr Dafoe', cursive;
}

@media screen and (max-width: 950px){
    .rc{
        display: none;
    }
    .rc-mobile{
        display: block;
    }

    .rcl{
        display: flex;
        justify-content: center;
    }
}@media screen and (max-width: 450px){
    .rc{
        display: none;
    }
    .rc-mobile{
        display: block;
    }

    .rcl{
        display: flex;
        justify-content: center;
    }
}